body {
  font-family: "Cambay", sans-serif !important;
  color: #FFFFFF !important; }

header#navbar-hero {
  background-image: url("../assets/bg-header.jpg");
  background-position: -162px -145px;
  background-size: 2107px 1392px; }

.editbackground {
  background-color: rgba(37, 37, 37, 0.6);
  height: 100%;
  width: 100%; }

nav img {
  height: 45px; }
nav .nav-link {
  margin-right: 2.5rem;
  color: #FFFFFF !important;
  font-size: 16px;
  letter-spacing: 0.5px; }
nav .active > .nav-link, nav .nav-link:hover {
  color: #8799A3 !important; }
nav .btn.btn-outline-warning {
  color: #FFFF00;
  border: 2px solid #FFFF00;
  border-radius: 1.25rem;
  font-size: 16px;
  font-weight: 700;
  padding: 5px 22px;
  box-shadow: 1px 1px 10px -1px rgba(225, 255, 0, 0.75); }
nav .btn-outline-warning:hover {
  color: #fff;
  background-color: #ffc107;
  border-color: #ffc107; }

header .row {
  padding: 170px 0px;
  font-family: "Montserrat", sans-serif; }
header .hero, header h1, header h2, header p, header a {
  display: block;
  margin: 15px 0px; }
header .hero {
  font-family: "Leckerli One", cursive;
  font-size: 28px; }
header h1 {
  font-size: 42px;
  font-weight: 900; }
header h1 > span {
  color: #0081FF; }
header h2 {
  font-size: 28px;
  font-weight: 300; }
header p {
  font-size: 20px;
  color: #636363; }
header .btn.btn-dark {
  font-size: 15px;
  border-radius: 5.0rem;
  padding: 10px 28px; }

div#content1 {
  background-color: #0081FF;
  padding: 100px 0px;
  font-family: "Montserrat", sans-serif; }

div#content1 .hero, div#content1 h3, div#content1 p {
  display: block;
  margin: 15px 0px; }
div#content1 .hero {
  font-family: 'Leckerli One', cursive;
  font-size: 28px; }
div#content1 h3 {
  font-size: 2.1rem;
  font-weight: 900;
  line-height: 52px; }
div#content1 p {
  font-size: 19px;
  line-height: 33px;
  margin-top: 20px;
  padding: 0px; }

div#content2 {
  background-color: #007af3;
  padding: 68px 0px;
  font-family: 'Montserrat', sans-serif; }

div#content2 img {
  height: 55px;
  padding: 0px 15px; }
div#content2 h5 {
  padding-bottom: 10px;
  font-weight: 700; }

div#contactus {
  background-color: #0081FF;
  padding: 55px 0px;
  font-family: 'Montserrat', sans-serif; }

div#contactus p {
  font-size: 20px;
  padding-top: 10px; }
div#contactus a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.3rem; }
div#contactus a.active, div#contactus a:hover {
  color: #fff; }

div#content3 {
  background-color: #fff;
  padding: 55px 0px;
  font-family: 'Montserrat', sans-serif; }

div#content3 .col-lg-12 {
  margin-bottom: 10px; }
div#content3 span {
  font-family: 'Leckerli One', cursive;
  font-size: 28px;
  color: #8799A3; }
div#content3 h3 {
  color: #252525;
  font-weight: 900;
  padding-top: 15px; }
div#content3 .btn.btn-primary {
  background-color: #1CBBB3;
  border-radius: 3.95rem;
  border-color: transparent;
  font-size: 15px;
  font-weight: 600;
  padding: 13px 56px;
  box-shadow: 0px 6px 8px -1px rgba(28, 187, 179, 0.31); }
div#content3 #button1:hover {
  opacity: 0.7; }

#image1, #image3, #image4, #image5, #image6 {
  height: 273px;
  object-fit: cover;
  overflow: hidden; }

div#colomone .col-lg-12 > img {
  width: 100%;
  object-fit: cover;
  height: 312px; }
div#colomone .col-lg-6 > img {
  width: 100%;
  height: 310px;
  object-fit: cover; }
div#colomone #image3 > img {
  transform: scale(2.9); }
div#colomone #image5 > img {
  transform: scale(1.6); }

div#colomtwo .col-lg-12 > img {
  height: 546px;
  width: 100%;
  object-fit: cover; }

div#colomthree .col-lg-12 > img {
  height: 310px;
  width: 100%;
  object-fit: cover; }

#overlaycolom {
  background-color: rgba(37, 37, 37, 0.6);
  padding: 100px 0px;
  opacity: 0; }

#overlaycolom2 {
  background-color: rgba(37, 37, 37, 0.6);
  padding: 237px 0px;
  opacity: 0; }

#overlaycolom.active, #overlaycolom:hover, #overlaycolom2:hover {
  opacity: 1;
  transition: 1.5s ease; }

#overlaycolom h4, #overlaycolom2 h4 {
  color: #8698a2;
  font-size: 14px; }
#overlaycolom p, #overlaycolom2 p {
  font-size: 20px;
  font-weight: 700; }
#overlaycolom img, #overlaycolom2 img {
  height: 20px; }

div#bgtestimonial {
  background-image: url("../assets/bg-client.jpg");
  background-size: 114% 227%;
  background-position: -65px -78px; }

div#testimonial {
  padding: 100px 0px;
  font-family: "Montserrat", sans-serif; }

#testimonial span, #testimonial h3 {
  display: block;
  margin: 15px 0px; }
#testimonial span {
  font-family: "Leckerli One", cursive;
  font-size: 30px; }
#testimonial h3 {
  font-size: 40px;
  font-weight: 900; }
#testimonial .carousel-item p {
  font-size: 21px;
  margin-bottom: 35px; }
#testimonial .editcontainer {
  margin: 22px 0px;
  padding: 55px 0px; }
#testimonial .media img {
  height: 65px;
  width: 65px;
  object-fit: cover; }
#testimonial .media h5 {
  font-size: 15px;
  color: #FFFF00; }
#testimonial .media p {
  font-size: 13px; }
#testimonial img.img-fluid:hover {
  opacity: 0.8; }
#testimonial #overlayblock {
  font-size: 34px;
  top: -29px;
  opacity: 0.1; }

/*# sourceMappingURL=style-2.css.map */
