$cambay: 'Cambay', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$leckerli:'Leckerli One', cursive;
$coustard: 'Coustard', serif;

body {
	font-family: $cambay!important;
	color: #FFFFFF!important;
}

header#navbar-hero {
	background-image: url("../assets/bg-header.jpg");
	background-repeat: no-repeat;
    background-position: -162px -145px;
    background-size: 2107px 1392px;
}

.editbackground {
    background-color: rgba(37, 37, 37, 0.6);
    height: 100%;
    width: 100%;
}

nav {
	img {
		height: 45px;
	}

	.nav-link {
		margin-right: 2.5rem;
		color: #FFFFFF!important;
		font-size: 16px;
	}

	.active>.nav-link, .nav-link:hover{
		color: #8799A3!important;
	}

	.btn.btn-outline-warning {
		color: #FFFF00;
	    border: 2px solid #FFFF00;
		border-radius: 1.25rem;
		font-size: 16px;
	    font-weight: 700;
	    padding: 5px 22px;
	    box-shadow: 1px 1px 10px -1px rgba(225, 255, 0, 0.75);
	}

	.btn-outline-warning:hover {
		color: #fff;
	    background-color: #ffc107;
    	border-color: #ffc107;
	}
}

header {
	.row {
		padding: 170px 0px;
		font-family: $montserrat;
	}
	.hero, h1, h2, p, a {
		display: block;
	    margin: 15px 0px;
	}
	.hero {
		font-family: $leckerli;
		font-size: 28px;
	}
	h1 {
	    font-size: 42px;
    	font-weight: 900;
	}
	h1>span {
		color: #0081FF;
	}
	h2 {
		font-size: 28px;
		font-weight: 300;
	}
	p {
		font-size: 20px;
    	color: #636363;
	}
	.btn.btn-dark {
	    font-size: 15px;
	    border-radius: 5.0rem;
	    padding: 10px 28px;
	}
}

div#content1 {
	background-color: #0081FF;
	padding: 100px 0px;
	font-family: $montserrat; 
}

div#content1 {
	.hero,h3,p {
		display: block;
	    margin: 15px 0px;
	}

	.hero {
		font-family: 'Leckerli One', cursive;
		font-size: 28px;	
	}

	h3 {
		font-size: 2.1rem;
    	font-weight: 900;
    	line-height: 52px;
	}

	p {
        font-size: 19px;
    	line-height: 33px;
	    margin-top: 20px;
	    padding: 0px;
	}
}

div#content2 {
	background-color: #007af3;
	padding: 68px 0px;
	font-family: 'Montserrat', sans-serif; 
}

div#content2 {
	img {
		height: 55px;
		padding: 0px 15px;
	}
	h5 {
		padding-bottom: 10px;
		font-weight: 700;
	}
}

div#contactus {
	background-color: #0081FF;
	padding: 55px 0px;
	font-family: 'Montserrat', sans-serif;
}

div#contactus {
	p {
		font-size: 20px;
	    padding-top: 10px;
	}
	a {
	    color: rgba(255, 255, 255, 0.5);
	    font-size: 1.3rem;
	}
	a.active, a:hover {
		color : #fff;
	}
}

div#content3 {
	background-color: #fff;
	padding: 55px 0px;
	font-family: 'Montserrat', sans-serif;
}

div#content3 {
	.col-lg-12 {
		margin-bottom: 10px;
	}
	span {
		font-family: 'Leckerli One', cursive;
		font-size: 28px;
		color: #8799A3;
	}
	h3 {
		color: #252525;
		font-weight: 900;
	    padding-top: 15px;
	}
	.btn.btn-primary {
    background-color: #1CBBB3;
    border-radius: 3.95rem;
    border-color: transparent;
    font-size: 15px;
    font-weight: 600;
    padding: 13px 56px;
    box-shadow: 0px 6px 8px -1px rgba(28,187,179,0.31);
	}
	#button1:hover {
		opacity: 0.7;
	}
}

#image1, #image3, #image4, #image5, #image6, {
    height: 273px;
}

.overlayhidden1, #image5 {
	overflow: hidden;
}

div#colomone {
	.col-lg-12>img {
		width: 100%;
    	object-fit: cover;
		height: 312px;
	}
	.col-lg-6>img {
		width: 100%;
		height: 310px;
    	object-fit: cover;
	}
	#image3>img {
	    transform: scale(2.9);
    	margin-left: 73px;
    	margin-top: -42px;
    	width: 100%;
	}
	#image5>img {
		transform: scale(1.6);
		width: 100%;
	    margin-top: 47px;
	}
}

div#colomtwo {
	.col-lg-12>img {
		height: 273px*2;
		width: 100%;
    	object-fit: cover;
	}
}

div#colomthree {
	.col-lg-12>img {
		height: 310px;
		width: 100%;
    	object-fit: cover;
	}
}

#overlaycolom {
	background-color: rgba(55, 64, 71, 0.8);
    padding: 100px 0px;
    opacity: 0;
}

#overlaycolom2 {
	background-color: rgba(55, 64, 71, 0.8);
    padding: 237px 0px;
    opacity: 0;	
}

#overlaycolom.active, #overlaycolom:hover, #overlaycolom2:hover {
	opacity: 1;
	transition: 1.5s ease;
}

#overlaycolom, #overlaycolom2 {
	h4 {
		color: #8698a2;
		font-size: 14px;
	}
	p {
		font-size: 20px;
		font-weight: 700;
	}
	img {
		height: 20px;
	}
}

div#bgtestimonial {
    background-image: url("../assets/bg-client.jpg");
    background-repeat: no-repeat;
    background-position-x: -1500px;
    background-position-y: -800px;
}

div#testimonial {
	padding: 100px 0px;
	font-family: $montserrat;
}

#testimonial {
	span, h3 {
		display: block;
	    margin: 15px 0px;
	}
	span {
		font-family: $leckerli;
		font-size: 30px;
	}
	h3 {
		font-size: 40px;
		font-weight: 900;
	}
	.carousel-item {
		p {
		font-size: 21px;
		margin-bottom: 35px;
		font-family: $coustard;
		}
	}
	.editcontainer {
        margin: 22px 0px;
    	padding: 55px 0px;
	}
	.media {
		img {
	        height: 65px;
	    	width: 65px;
			object-fit: cover;
		}
		h5 {
			font-size: 15px;
			color: #FFFF00;
		}
		p {
			font-size: 13px;
		}
		.blockquote-footer::before {
			content:"";
			font-family: $montserrat;
		}
	}
	img.img-fluid:hover {
		opacity: 0.8;
	}
	#overlayblock {
        font-size: 34px;
    	top: -29px;
    	opacity: 0.1;
	}
	#mediacarousel {
		img {
			width: 70%;
		}
	}
}

#blog {
	padding: 60px 0px;
	font-family: $montserrat;
}

#blog {
	
	#blog_c1{
		
		span {
		display: block;
		font-family: 'Leckerli One', cursive;
		font-size: 35px;
		color: #8799A3;
		}
		
		h3 {
		display: block;
		font-size: 40px;
		font-weight: 900;
		color: #000;
		line-height: 1.2;
		}

		p {
		display: block;
		color: #868e96;
	    font-size: 21px;
		}
	}

	#blog_c2{
    padding: 20px 41px;
    background-color: #0081ff;
    line-height: 1.4;
    box-shadow: 0px 0px 68px 1px rgba(0,204,255,0.3);


		.date{
	    font-weight: 700;
		}

		p{
	    font-size: 23px;
	    font-family: $coustard;
		}
		
		h4{
		font-size: 15px;
		color: #FFFF00;
		}
	}

	#blog_c3{
	overflow: hidden;
	
		img{
	    height: 481px;
		}
	}
}