body {
	font-family: 'Cambay', sans-serif!important;
}

.container-fluid {
	background-image: url("../assets/bg-header.jpg");
	background-position: -395px -104px;
}

nav {
	img {
		height: 45px;
	}

	.nav-link {
		margin-right: 2.5rem;
		color: #FFFFFF!important;
		font-size: 15px;
		font-weight: 700;
	}

	.active>.nav-link, .nav-link:hover{
		color: #8799A3!important;
	}

	.btn.btn-outline-warning {
		color: #FFFF00;
		border-radius: 1.25rem;
		font-size: 15px;
	    font-weight: 700;
	    padding: 5px 22px;
	    box-shadow: 1px 1px 10px -1px rgba(225, 255, 0, 0.75);
	}
}